In [2]:
import pandas as pd

In [17]:
 s = pd.Series(list('abcde'), index=[0,3,2,5,4]) # Slicing with labels

In [21]:
s

0    a
3    b
2    c
5    d
4    e
dtype: object

In [35]:
s.loc[3:5] # index based, whatever comes in order. inclusive on both ends

3    b
2    c
5    d
dtype: object

In [57]:
sa = pd.Series([1,2,3],index=list('abc'))

In [61]:
sa

a    1
b    2
c    3
dtype: int64

In [60]:
sa.a

1

In [34]:
s.sort_index()

0    a
2    c
3    b
4    e
5    d
dtype: object

In [33]:
s.sort_index().loc[3:5]

3    b
4    e
5    d
dtype: object

In [29]:
s[2:4] # not based on index labels, instead absolute index

2    c
5    d
dtype: object

In [7]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

In [8]:
 s1 = pd.Series(list('abcde'))

In [9]:
s1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [30]:
s1[2:4]

2    c
3    d
dtype: object

In [16]:
s1.loc[3:5]

3    d
4    e
dtype: object

In [38]:
dates = pd.date_range('1/1/2000', periods=10)

In [39]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [40]:
dates[1]

Timestamp('2000-01-02 00:00:00', freq='D')

In [44]:
df=pd.read_csv("zipCodes.csv")

In [51]:
p={'one':df,'two':df-df.mean()}

In [53]:
panel=pd.Panel({'one':df,'two':df-df.mean()})

C:\Users\Rishabh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [49]:
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 1 (items) x 105 (major_axis) x 3 (minor_axis)
Items axis: one to one
Major_axis axis: 0 to 104
Minor_axis axis: LAT to ZIP

In [69]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})

In [73]:
x

   x  y
0  1  3
1  2  4
2  3  5

In [76]:
x.iloc[1]={'x':9,'y':99}

In [77]:
x

   x   y
0  1   3
1  9  99
2  3   5

In [78]:
x.iloc[1]

x     9
y    99
Name: 1, dtype: int64

In [79]:
s

0    a
3    b
2    c
5    d
4    e
dtype: object

In [80]:
s1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [89]:
s1[5::-1]

4    e
3    d
2    c
1    b
0    a
dtype: object

In [92]:
bb=pd.Series([10,20,30,40,50])

In [93]:
bb

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [95]:
import numpy as np

In [96]:
np.random.randn(6)

array([-2.17077542, -1.68105894,  0.03454667, -0.32412501,  0.62892414,
       -0.84045402])

In [97]:
df.head()

         LAT       LONG    ZIP
0  39.330360 -76.534780  21206
1  39.244490 -76.614290  21225
2  39.246500 -76.584700  21225
3  39.256952 -76.651569  21227
4  39.258000 -76.632580  21230

In [98]:
df[0:2]

        LAT      LONG    ZIP
0  39.33036 -76.53478  21206
1  39.24449 -76.61429  21225

In [99]:
df.loc[0:2]

        LAT      LONG    ZIP
0  39.33036 -76.53478  21206
1  39.24449 -76.61429  21225
2  39.24650 -76.58470  21225

In [118]:
df.loc[0:2,'LAT':'LONG']

        LAT      LONG
0  39.33036 -76.53478
1  39.24449 -76.61429
2  39.24650 -76.58470

In [104]:
df.loc[0]>0

LAT      True
LONG    False
ZIP      True
Name: 0, dtype: bool

In [126]:
df.loc[0:2]

        LAT      LONG    ZIP
0  39.33036 -76.53478  21206
1  39.24449 -76.61429  21225
2  39.24650 -76.58470  21225

In [134]:
df.iloc[0:2,0:3]

        LAT      LONG    ZIP
0  39.33036 -76.53478  21206
1  39.24449 -76.61429  21225

In [135]:
df.set_index("ZIP",inplace=True)

In [155]:
df.loc[21206]

             LAT       LONG
ZIP
21206  39.330360 -76.534780
21206  39.321477 -76.535463
21206  39.330360 -76.534780
21206  39.330370 -76.546289
21206  39.336730 -76.539670
21206  39.340575 -76.542373
21206  39.343655 -76.541122

In [158]:
df.iloc[1:5]

             LAT       LONG
ZIP
21225  39.244490 -76.614290
21225  39.246500 -76.584700
21227  39.256952 -76.651569
21230  39.258000 -76.632580

In [164]:
df.loc[df['LAT']>=0,"LAT"]

ZIP
21206    0.0
21225    0.0
21225    0.0
21227    0.0
21230    0.0
21224    0.0
21224    0.0
21230    0.0
21223    0.0
21223    0.0
21230    0.0
21223    0.0
21229    0.0
21229    0.0
21223    0.0
21223    0.0
21231    0.0
21223    0.0
21229    0.0
21231    0.0
21231    0.0
21231    0.0
21231    0.0
21201    0.0
21201    0.0
21223    0.0
21229    0.0
21223    0.0
21216    0.0
21223    0.0
        ...
21211    0.0
21211    0.0
21211    0.0
21206    0.0
21215    0.0
21215    0.0
21214    0.0
21239    0.0
21210    0.0
21210    0.0
21214    0.0
21210    0.0
21210    0.0
21214    0.0
21239    0.0
21210    0.0
21214    0.0
21214    0.0
21210    0.0
21239    0.0
21209    0.0
21209    0.0
21212    0.0
21209    0.0
21209    0.0
21209    0.0
21212    0.0
21212    0.0
21209    0.0
21212    0.0
Name: LAT, Length: 105, dtype: float64

In [162]:
df

       LAT       LONG
ZIP
21206  0.0 -76.534780
21225  0.0 -76.614290
21225  0.0 -76.584700
21227  0.0 -76.651569
21230  0.0 -76.632580
21224  0.0 -76.554510
21224  0.0 -76.557980
21230  0.0 -76.631847
21223  0.0 -76.645691
21223  0.0 -76.650160
21230  0.0 -76.625410
21223  0.0 -76.666051
21229  0.0 -76.688190
21229  0.0 -76.688087
21223  0.0 -76.653730
21223  0.0 -76.666070
21231  0.0 -76.575160
21223  0.0 -76.666153
21229  0.0 -76.692663
21231  0.0 -76.575338
21231  0.0 -76.579920
21231  0.0 -76.578402
21231  0.0 -76.593810
21201  0.0 -76.611820
21201  0.0 -76.605350
21223  0.0 -76.655561
21229  0.0 -76.671190
21223  0.0 -76.657431
21216  0.0 -76.671536
21223  0.0 -76.658702
...    ...        ...
21211  0.0 -76.655986
21211  0.0 -76.650364
21211  0.0 -76.650374
21206  0.0 -76.541122
21215  0.0 -76.702960
21215  0.0 -76.704901
21214  0.0 -76.585080
21239  0.0 -76.590001
21210  0.0 -76.629560
21210  0.0 -76.615730
21214  0.0 -76.573055
21210  0.0 -76.647100
21210  0.0 -76.629892
21214  0.0 -76.573028
21239  0.0 -76.595760
21210  0.0 -76.654371
21214  0.0 -76.573970
21214  0.0 -76.573840
21210  0.0 -76.629065
21239  0.0 -76.598282
21209  0.0 -76.678380
21209  0.0 -76.699252
21212  0.0 -76.628181
21209  0.0 -76.692920
21209  0.0 -76.660648
21209  0.0 -76.672765
21212  0.0 -76.649100
21212  0.0 -76.648700
21209  0.0 -76.651419
21212  0.0 -76.648910

[105 rows x 2 columns]